@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #eeeeee;
    color: #101010;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    text-align: center;
    padding: 20px;
}

.title {
    font-weight: 500;
}

.line {
    font-size: 19vw;
    line-height: 0.9;
    letter-spacing: 0.01em;
}

.o {
    font-family: "Tangerine", serif;
    font-weight: 700;
}

.column-container {
    display: flex;
    width: 100%;
    margin-top: 10vh;
}

.column {
    font-size: 5vw;
    font-weight: 400;
    height: 50vh;
    padding: 2.5vw;
    color: #101010;
    text-align: left;
}

.column-1 {
    width: 20%;
}

.column-2 {
    width: 20%;
}

.column-3 {
    width: 60%;
    text-align: end;
    font-size: 1.3vw;
    font-weight: 300;
    color: #666666;
}

.work-container {
    max-width: 100%;
    margin: 0 0 0 2.5vw;
}

.work-container h1 {
    font-size: 5vw;
    font-weight: 400;
    color: #101010;
    margin: 10vh 0 2vh 0;
    text-transform: uppercase;
}

.work-container p {
    font-size: 1vw;
    font-weight: 300;
    color: #666666;
    margin: 0 0 2vh 0;
}

.work-item {
    display: flex;
    border-top: 1px solid #ccc;
    height: 20vh;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    position: relative;
}

.work-item:hover {
    height: 30vh;
}

.work-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.work-item:hover .work-image {
    margin: 1.1vh;
    transform: scale(1.1);
}

.work-details {
    flex-grow: 1;
    display: block;
    margin-left: 20px;
    position: relative;
}

.work-details-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 2vh;
    left: 30vw;
    width: calc(100% - 32vw - 60px);
}

.header {
    font-size: 1.2vw;
    font-weight: 600;
    margin: 0 0 5px 0;
    color: #101010;
}

.sub-header {
    font-size: 1vw;
    font-weight: 300;
    margin: 0;
    color: #ececec;
}

.description {
    font-size: 1vw;
    font-weight: 300;
    color: #101010;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    z-index: 1;
}

.work-item:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.year {
    font-size: 1.2vw;
    font-weight: 600;
    color: #101010;
    text-align: right;
    min-width: 60px;
    position: absolute;
    top: 2vh;
    right: 2vw;
}